
 .App{
     
     height: 100vh;
     display: flex;
     flex-direction: column;
     
 }


 textarea{

     outline: none !important;
     outline-width: 0 !important;
     box-shadow: none;
     -moz-box-shadow:none;
     -webkit-box-shadow:none;
 }


 

.App-header{

      background-color:#282c34;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 1;
}


.App-logo{
     width: 30vmin;
     height: 15vmin;
     cursor: pointer;
     -webkit-mask-image: url(/src/images/leagueOfLegends.svg);
     mask-image: url(/src/images/leagueOfLegends.svg);
     -webkit-mask-size: 100% 100%;
     mask-size: 100% 100%;
     background: #D3CCE3;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     


}

     
.App-content{
     
     
     height: 100%;
     overflow-y: scroll;
     order: 3;
}
     
     
.App-footer{
     
     border-bottom: 1px solid black;
     order: 2;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
         
}


.App-footer > *{

     margin-left: 1vmin;
     margin-right: 1vmin;
}


.App-input-general{

     resize: none;
     height: calc(16px + 2vmin);
     flex: 1;
     font-size: 16px;
    
     
}


.App-input-emoji, .App-submit-general, .App-input-file-general{

    
     font-size: calc(10px + 2vmin);
     cursor: pointer;
     
}

@media screen and (min-width: 700px){

     .App-content{

         
          order: 2;
     }

     .App-header{

          order: 1;
     }

     .App-footer{

          order: 3;
     }
}