@import url(/src/principal/menu/index.css?/cache=1045);





.App-header{

     background-color: #DCEEC7;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-ordinal-group: 2;
         -ms-flex-order: 1;
             order: 1;
}


.App-header-elements{
    
    -webkit-box-flex: 1;
    
        -ms-flex: 1;
    
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}



.App-header-elements-inside{

    -webkit-box-flex: 1;

        -ms-flex: 1;

            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
}


.App-header-elements-inside-div-MenuButton{

       -webkit-box-flex: 1;

           -ms-flex: 1;

               flex: 1;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       cursor: pointer;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
}


.App-header-elements-inside-div-imgButtonmenu{

        width: 6vmin;
        height: 6vmin;
        -webkit-filter: brightness(1.1);
                filter: brightness(1.1);
        mix-blend-mode: multiply;
        
}


.App-header-elements-inside-div-Logo{

    -webkit-box-flex: 1;

        -ms-flex: 1;

            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
   
}

.App-header-elements-inside-div-imgLogo{

    width: 30vmin;
    height: 15vmin;
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    mix-blend-mode:multiply;
    
}


.App-header-elements-inside-div-blocked{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}


.App-header-elements-inside-div-blockedDivImg,
.App-header-elements-inside-div-blockedDivText{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}


.App-header-elements-inside-div-imgBlocked{

    width: 12vmin;
    height: 6vmin;
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.App-header-elements-inside-div-blockedDivTextP{

    color: red;
    text-decoration: underline;
    font-size: 4vmin;
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    mix-blend-mode: multiply;
    border: 0;
}


.App-header-elements-inside-div-blockedDivTextP:hover{

    cursor: pointer;
}


.App-content{

    height: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        overflow: hidden;
   
}



.App-menu{

    width: 30vmin;
    overflow-y: auto;
    height: 100%;
    padding: 2vmin;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
   
}


.App-content-temporal{

    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    overflow-y: auto;
    height: 100%;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
     flex-direction: column;
    
}



#App-content-temporaL-loading{

     display: flex;
     justify-content: center;
     align-items: center;
     
}


.imgLoadingChat{

    width: 30vmin;
    height: 15vmin;
}


.App-content-temporal-divs{

    height: 100%;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    overflow-y: scroll;
    flex-direction: column;
    display: none;
}


.App-content-temporal-login{

    display: flex;
}



.App-footer{

    background-color: white;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}


.App-footerElements{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.App-footerElements-textarea{

    width: 60vmin;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    font-size: 16px;
    resize: none;
}


.App-footerElements-input{

    font-size: 4vmin
}


@media screen and (min-width: 700px) {


    .App-header{

        -webkit-box-ordinal-group: 2;

            -ms-flex-order: 1;

                order: 1;
    }

    .App-content{

        -webkit-box-ordinal-group: 3;

            -ms-flex-order: 2;

                order: 2;
    }


    .App-footer{

        -webkit-box-ordinal-group: 4;

            -ms-flex-order: 3;

                order: 3;
    }


    .App-footerElements{

       
    }


   
    
}