
 .App{
     
     height: 100vh;
     display: flex;
     flex-direction: column;
     
 }


 textarea{

     outline: none !important;
     outline-width: 0 !important;
     box-shadow: none;
     -moz-box-shadow:none;
     -webkit-box-shadow:none;
 }


 

.App-header{

      background-color:#282c34;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 1;
      flex-direction: column;
}


.App-logo{
     width: 30vmin;
     height: 15vmin;
     cursor: pointer;
     -webkit-mask-image: url(/template/src/images/leagueOfLegends.svg);
     mask-image: url(/template/src/images/leagueOfLegends.svg);
     -webkit-mask-size: 100% 100%;
     mask-size: 100% 100%;
     background: #D3CCE3;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}


.App-menu{

     background-color: #37707e;
     margin-bottom: 1vmin;
     display: flex;
     flex-flow: row wrap;
     width: 100%;    
     
}

.menu{

     flex: 1;
     color: rgba(138, 217, 228, 0.397);
     text-align: center;
     margin-right: 1vmin;
     margin-left: 1vmin;
     font-size: calc(10px + 2vmin);
     cursor: pointer;
     font-family: cursive;
}


.menu-border{

     border-right: 1px solid snow;
}


.menu:hover{

     color: red;
}

     
.App-content{
     
     
     height: 100%;
     overflow-y: scroll;
     order: 3;
     display: flex;
     flex-direction: column;
}

.App-content-dialog{

     display: flex;
     flex-flow: row wrap;
     padding: 4vmin;
     margin-left: 12.5%;
}

.App-content-dialogLeft{

     flex-flow: row-reverse;
     margin-left: 0;
     margin-right: 12.5%;
}

.talkbubble {
     min-width: 30%;
     max-width: 60%;
     min-height: 60px;
     background: rgb(148, 197, 236);
     position: relative;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     color: white;
     display: flex;
     flex-direction: column;
   }
   .talkbubble:before {
     content: "";
     position: absolute;
     right: 100%;
     top: 26px;
     width: 0;
     height: 0;
     border-top: 13px solid transparent;
     border-right: 13px solid rgb(148, 197, 236);
     border-bottom: 13px solid transparent;
   }


   .talkbubble-text{

     word-wrap: break-word;
     line-height: 20px;
     height: 100%;
     padding: 1vmin;
        
   }

   .talkbubble-hour{

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: green;
        margin-right: 1vmin;
        
   }
     
     
.App-footer{
     
     border-bottom: 1px solid black;
     order: 2;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin-bottom: 2vmin;
         
}


.App-footer > *{

     margin-left: 1vmin;
     margin-right: 1vmin;
}


.App-input-general{

     resize: none;
     height: auto;
     flex: 1;
     font-size: 16px;
     white-space: 40px;
     line-height: 20px;
     outline: none !important;
     outline-width: 0 !important;
     box-shadow: none;
     -moz-box-shadow:none;
     -webkit-box-shadow:none;
     border: none;
     max-height: 100px;
     max-width: 600px;
     
}


.App-input-emoji, .App-submit-general, .App-input-file-general{

    
     font-size: calc(16px + 2vmin);
     cursor: pointer;
     
}

@media screen and (min-width: 700px){

     .App-content{

         
          order: 2;
     }

     .App-header{

          order: 1;
     }

     .App-footer{

          order: 3;
     }


     
}


@media screen and (min-width: 1000px) {

     .talkbubble{

          max-width: 33%;
     }
     
}