.App-content-temporal-login{

    display: flex;
}


.App-content-temporal-login-formDiv{

    display: flex;
    flex-flow: row wrap;
}


.backgroundLogin{

    flex: 1;
    display: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}


#backgroundLogin{

    background-image: url(/src/images/katherineBackgroundLogin2.jpg);
}





.App-content-temporal-login-form{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 2vmin 2vmin 0vmin 2vmin;
    mix-blend-mode: multiply;
    filter: brightness(1.1);
}


#formLogin{

    background-image: url(/src/images/katherineBackgroundLogin2.jpg);
}


#formLoginReset{

    display: none;
    background-image: url(/src/images/maestroYiBackgroundReset.jpg);
}


.App-content-temporal-login-form-input-divCheck{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.insideFormLogin:last-child{

    margin-bottom: 2vmin;
}

hr{
    width: 100%;
    margin-top: 2vmin;
}

.insideFormLogin{

    margin-top: 4vmin;
    background-color: white;
    
}

.titleInsideformLogin{

    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-decoration: underline;
}

#App-content-temporal-login-form-input-submit{

    background-color: green;
    color: white;
    padding: 2vmin;
}

#App-content-temporal-login-form-reset{

    background-color: red;
    color: white;
    padding: 2vmin;
}


#App-content-temporal-login-form-register, #App-content-temporal-login-form-reset-input-submit{

    background-color: blue;
    color: white;
    padding: 2vmin;
}

.errorLogin{

    color: red;
    background-color: white;
}

@media screen and (min-width:700px) {

    .backgroundLogin{

        display: flex;
        margin: 2vmin 0vmin 2vmin 2vmin;
    }


    .App-content-temporal-login-form{

        background-image: none !important;
        margin: 2vmin 2vmin 2vmin 0vmin;
        box-shadow: black 0px 2px 5px;
    }
    
}



