@import url(/src/principal/menu/ads/index.css?=cache=23);
@import url(/src/principal/menu/banned/index.css?=cache=34);
@import url(/src/principal/menu/contact/index.css?=cache=87);
@import url(/src/principal/menu/forum/index.css?cache=45);
@import url(/src/principal/menu/login/index.css?=cache=347);
@import url(/src/principal/menu/register/index.css?cache=200);
@import url(/src/principal/menu/runes/index.css?=cache=100);
@import url(/src/principal/menu/searchGame/index.css?=cache=56);

/*delete this because is for watch the edit items menu pages**/
/****/

.App-menu-elements{

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    background: inherit;
}

.App-menu-elements:not(:first-child){

    margin-top: 8vmin;
}

.App-menu-elements-last{

    margin-bottom: 8vmin;
    
 
}   


.App-menu-elements :hover{

    text-decoration: underline;
    
}




.App-menu-elements-img{

    width: 6vmin;
    height:6vmin;
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    
}

.App-menu-elements-text{

    
    font-size: 4vmin;
    margin-left: 1vmin;
    
}


@media screen and (min-width: 700px) {


    .App-menu-elements-text{

        font-size: 2vmin;
    }
    
}


