@import url("./principal/index.css?=2");

*{

    margin: 0;
    padding: 0;
    
}


.App-loading{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    color: white;
}

.App-loading > *{

    margin-top: 2vmin;
}


#loadingGif{

     height: 40vmin;
}


#retryLoad{

    font-size: calc(16px + 2vmin);
    padding: 1vmin;
    cursor: pointer;
}

