#submitHiddenResetPassword{

    font-size: calc(10px + 2vmin);
    background-color: green;
    color: white;
    padding: 1vmin;
    cursor: pointer;
}


.divResultResetPassword{

     display: none;
     justify-content: center;
     align-items: center;
     
}

.imgResultResetPassword{

    height: 6vmin;
    width: 6vmin;
    -webkit-mask-image: url(/src/images/exclamation1.svg);
    mask-image: url(/src/images/exclamation1.svg);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background: #FFE000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}


.formResetPassword{

    
}


.resetPasswordToLogin{

     -webkit-mask-image: url(/src/images/blocked4.svg);
     mask-image: url(/src/images/blocked4.svg);
     -webkit-mask-size: 100% 100%;
     mask-size: 100% 100%;
}


#resultResetPassword{

    color: red;
}